
@font-face {
    font-family: 'Vazir';

    src: url('../Public/fonts/vazir/Vazir-Light-FD.eot');
    src: url('../Public/fonts/vazir/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
       url('../Public/fonts/vazir/Vazir-Light-FD.woff') format('woff'),
       url('../Public/fonts/vazir/Vazir-Light-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../Public/fonts/vazir/Vazir-Bold-FD.eot');
    src: url('../Public/fonts/vazir/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('../Public/fonts/vazir/Vazir-Bold-FD.woff') format('woff'),
       url('../Public/fonts/vazir/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

body{
    font-family: 'Vazir';
}


// Sidebar
.sidebar .nav{
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
}


// Header
.app-header.navbar .navbar-brand{
    background-size: 100%;
}



// Modal
.modal-open .modal{
    background: rgba(0,0,0,0.5);
}


// Spinner
.spinner{

    position: absolute;
    background-color: rgba(0,0,0,0.6);
    background-image: url('../Public/img/spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1000;

}


// Media Queries
@media screen and (max-width: 425px) {

    // Container
    .main .container-fluid{
        padding: 0px 15px;
    }

    // Header
    .app-header.navbar .navbar-brand{
        position: fixed;
    }

}

// cursor
.cursorShape{
    cursor: pointer;
}












// END
